/* The group of buttons that lives in the bottom right */
.button-container {
  position: fixed;
  bottom: 8px;
  right: 8px;

  display: flex;
  flex-direction: row; /* Change to row for horizontal layout */

  z-index: 2;
  border-radius: 0px;
  overflow: visible;
  border: 0px solid #aaa;
}

.button-container button {
  display: block;
  width: 40px; 
  height: 40px;
  padding: 5px;
  margin: 0;
  
  background-color: transparent;
  /* border: none; */
  border: 1px solid #aaa; /* Changed to border-left for horizontal layout */
}

.button-container button:first-of-type {
  /* border-left: none; Changed to border-left for horizontal layout */
}
