/* == GLOBAL STYLES == */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: opacity 0.5s ease-out;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

#top-container {
  background: hsl(210, 17%, 98%);
  padding: 18px;
  /* flex: 0 0 20px; */
}

#bottom-container {
  padding: 30px;
}

#main-content {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 40px); /* Subtract the fixed height of top and bottom containers */
}

#canvas {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  background: #f8f9fa;
  width: 300px;
  padding: 10px;
}

#container {
  width: 100%; 
  height: 100%;
  position: absolute;
}
#container {
  width: calc(100% - 320px); /* Adjusted to account for the menu width */
  height: 100%;
}

#topic-name {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

#expand-topic {
  display: block; /* Make the button a block element */
  width: 100%; /* Occupy the full width of the container */
  padding: 10px; /* Add some padding for a better look */
  font-size: 16px; /* Increase the font size */
  background-color: #007bff; /* Add a background color */
  color: white; /* Change the text color to white */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add some border-radius for rounded corners */
  cursor: pointer; /* Change the cursor to a pointer */
}

#expand-topic:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

#buttons {
  display: flex;
  justify-content: space-around;
}

.transparent-blur {
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: saturate(180%) blur(20px);
}

.fullscreen {
  width: 100%;
  height: 100%;
  position: relative;
}
